@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto|Roboto+Mono");
@import url("variables.css");

/* Navigation */

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.none {
  display: none;
}

.nav-link {
  font-size: 13px !important;
  font-weight: 500;
}

.navbar .nav-item .nav-link {
  position: relative;
}

.navbar .nav-item .nav-link:hover::before {
  width: 100% !important;
}

.navbar .nav-item .nav-link::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 1px;
  bottom: 5px;
  z-index: 1;
  background: var(--primary-color);
  transition: width 0.3s ease-out;
}

.landing-page a.nav-link {
  color: var(--primary-color) !important;
}

.footer {
  background-color: var(--primary-color);
  padding: 50px 50px;
  margin-top: 100px;
}

.footer .container-fluid {
  background-color: var(--primary-color);
}

.footer .footer-content p {
  float: left;
  color: #ffffff;
  margin: 0px;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.footer .footer-content {
  padding: 0px;
}

.footer .footer-content p:last-of-type {
  float: right;
  /* margin-right: 100px; */
}

.footer .footer-content p:nth-last-of-type(2) {
  float: left;
  margin-left: 1200px;
}

a {
  color: var(--primary-color);
}

.cursor {
  cursor: pointer;
}

#cancel-button,
#save-button,
#submit-button,
#google-button{
  margin-top: 50px;
  color: #ffffff;
  font-size: 1em;
  /*  height: 50px;*/
  padding-top: 0.8rem;
  padding-bottom: .8rem;
}

#save-button {
  margin-top: 50px;
  color: #ffffff;
  background-color: #41b661;
  box-shadow: 0 10px 60px -40px rgba(0, 0, 0, 0.15);
  position: relative;
  font-size: 13px;
}

#save-button::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.3s;
  height: 50%;
  opacity: 0.2;
}

#save-button:hover::before {
  height: 0;
  opacity: 0;
}



#google-button {
  margin-top: 50px;
  color: #004071;
  background-color: #fff;
  box-shadow: 0 10px 60px -40px rgba(0, 0, 0, 0.15);
  position: relative;
  font-size: 14px;
  border: 1px solid #3333;
}

#google-button::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(35, 49, 91, 0.14);
  z-index: 1;
  transition: 0.3s;
  height: 50%;
  opacity: 0.2;
}

#google-button:hover::before {
  height: 0;
  opacity: 0;
}

#cancel-button {
  margin-top: 50px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 13px;
  box-shadow: 0 10px 60px -40px rgba(0, 0, 0, 0.15);
}

#cancel-button:hover {
  margin-top: 50px;
  border: 1px solid var(--primary-color);
  color: #fff;
  font-size: 13px;
  background: var(--primary-color);
}

#submit-button {
  margin-top: 50px;
  color: #ffffff;
  background-color: #41b661;
  box-shadow: 0 10px 60px -40px rgba(0, 0, 0, 0.15);
  position: relative;
  font-size: 13px;
}

#submit-button::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.3s;
  height: 50%;
  opacity: 0.2;
}

#submit-button:hover::before {
  height: 0;
  opacity: 0;
}

#lf-span {
  color: red;
}

.page {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  color: var(--primary-color);
}

.page #page-border {
  margin-bottom: 0px;
  border-top: 1.5px solid rgba(55, 9, 116, 0.5);
  border-right: 1.5px solid rgba(55, 9, 116, 0.5);
  border-left: 1.5px solid rgba(55, 9, 116, 0.5);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(55, 9, 116, 0.5);
  padding: 10px 0px;
}

.page #page-border-2 {
  border-top: 1px solid rgba(55, 9, 116, 0.5);
  border-left: 1.5px solid rgba(55, 9, 116, 0.5);
  border-right: 1px solid rgba(55, 9, 116, 0.5);
  border-bottom: 1.5px solid rgba(55, 9, 116, 0.5);
  border-bottom-left-radius: 10px;
  padding: 20px 20px 20px 30px;
  color: var(--primary-color);
}

.page #page-border-3 {
  border-top: 1px solid rgba(55, 9, 116, 0.5);
  border-left: 1px solid rgba(55, 9, 116, 0.5);
  border-right: 1.5px solid rgba(55, 9, 116, 0.5);
  border-bottom: 1.5px solid rgba(55, 9, 116, 0.5);
  border-bottom-right-radius: 10px;
  padding: 50px 50px 50px 50px;
}

.page-body .wrapper {
  margin: 0 auto;
}

.page-body {
  position: relative;
  margin: 0 auto;
  background-image: url(../img/body_mask@2x.png);
}

.page .page-main-title h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.page .page-sub-title h4 {
  font-size: 1.3em;
  font-weight: 400;
}

/* Index Page  */
.index-page {
  position: relative;
  margin: 0 auto;
}

.featured-image .img-container {
  /* position: absolute; */
  width: 100%;
  height: 755px;
  overflow: hidden;
}

.featured-image .wrapper {
  background-color: #00000060;
  position: absolute;
  height: 755px;
  width: 100%;
  top: 0px;
}

.featured-image .search-form {
  position: absolute;
  right: 20%;
  width: 60%;
  top: 245px;
}

.featured-image .search-form p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  margin: 0 auto;
  text-align: center;
}

.featured-image .search-form input {
  height: 60px;
  border-color: #ffffff;
  border: 1px solid #ffffff;
}

.featured-image .search-form .btn {
  background-color: #ffffff;
  border-color: #ffffff;
}

.index-page .banner {
  background-color: var(--primary-color);
  color: #ffffff;
  height: 152px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.index-page .banner p {
  text-align: center;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  margin-left: -50px;
}

.index-page .banner .btn {
  color: #ffffff;
  font-size: 0.9;
  border: 2px solid #ffffff;
  border-radius: 50px;
  margin-left: 75px;
}

.index-explore .explore-heading h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
  font-size: 2.5em;
  font-weight: 300;
}

.index-explore {
  margin-top: 100px;
  padding: 0 50px;
}

.index-explore .row {
  margin-bottom: 50px;
}

.index-explore .explore-card .card {
  border: 1px solid var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
}

.index-explore .explore-card .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.index-explore .explore-card .card .card-body {
  position: absolute;
  width: 100%;
  background-color: #00000041;
  color: #ffffff;
  bottom: 0px;
  padding: 10px;
  /* padding-top: 8px; */
  text-align: center;
}

.index-explore .explore-card .card .card-body p {
  float: left;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.index-explore .explore-card .card .card-body p:last-of-type {
  float: right;
}

.index-explore .explore-card .card .card-body span {
  margin-left: 10px;
}

.index-contributor .row {
  margin-top: 100px;
}

.index-contributor {
  margin-top: 100px;
  padding: 0px 50px;
}

.index-contributor .contributor-heading h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
  font-size: 2.5em;
  font-weight: 300;
}

.index-contributor .card {
  border: none;
  align-items: center;
}

.index-contributor .card img {
  height: 250px;
  width: 250px;
}

.index-contributor .card .card-body h5 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
}

/* Login Page */

.login-page .container-fluid {
  margin: auto;
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.login-page .login-heading {
  margin-left: 20px;
}

.login-page .login-body .login-heading {
  margin-bottom: 200px;
}

.login-page .login-body .login-heading button {
  font-size: 1em;
}

.login-page .login-body .login-heading img {
  height: 200px;
  width: 200px;
}

.login-page .login-body .login-heading li {
  list-style: circle;
  padding: 10px;
  font-size: 13px;
}

.login-page .login-body .login-footer,
ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.login-page .login-body .login-footer {
  overflow: auto;
  margin-left: 0px;
}

.login-page .login-body .login-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;

  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 13px;
}

.login-page .login-registration label {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.login-page .login-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.login-page .login-registration input::placeholder {
  color: var(--primary-color);
  font-size: 13px;
}

.login-page .login-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
}

.login-page .login-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.login-page .login-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.login-page .login-registration small p {
  font-size: 14px;

  color: var(--primary-color);
}

.login-page .login-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.login-page .login-registration .form-group {
  margin-bottom: 0px;
}

.login-page .login-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.hr {
  border: 0.5px solid rgba(55, 9, 116, 0.26);
}

/* Verify Page */

.verify-page .container-fluid {
  margin: auto;
  box-shadow: 2px 2px rgba(55, 9, 116, 0.26);
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.verify-page .verify-body .verify-heading {
  margin-bottom: 170px;
}

.verify-page .verify-body .verify-heading #verified {
  background-color: red;
  padding: 3px 5px 3px 5px;
  width: 80px;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 30px;
}

.verify-page .verify-body .verify-heading #unverified {
  background-color: #41b661;
  padding: 3px 5px 3px 5px;
  width: 90px;
  color: #ffffff;
  border-radius: 20px;
  margin-left: 0px;
}

.verify-page .verify-body .verify-heading #verified,
#unverified {
  text-transform: lowercase;
  font-size: 0.7em;
}

.verify-page .verify-body .verify-content {
  margin-top: 20px;
}

.verify-page .verify-content p {
  text-align: left;
  width: 447px;
}

.verify-page .verify-body .verify-footer {
  overflow: auto;
  margin-left: 0px;
}

.verify-page .verify-body .verify-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
}

.verify-page .verify-body .verify-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.verify-registration label {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.verify-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.verify-registration input::placeholder {
  color: var(--primary-color);
}

.verify-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.verify-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.verify-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.verify-registration small p {
  font-size: 14px;

  color: var(--primary-color);
}

.verify-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.verify-registration .form-group {
  margin-bottom: 0px;
}

.verify-registration .custom-file,
.verify-registration .custom-file .custom-file-input,
.verify-registration .custom-file .custom-file-label {
  height: 100px;
  /* .verify-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
} */
}
.verify-registration .custom-file {
  width: 100%;
  height: 100px;
  padding: 0px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  position: relative;
  background-color: #cccccc;
}

.verify-registration .custom-file .custom-file-label {
  border: 1px solid #37097480;
  top: -1px;
  left: -1px;
  right: -1px;
}

.verify-registration
.custom-file
.custom-file-input
~ .custom-file-label::after {
  content: none;
}

/*  Sign Up  */

.signup-page .container-fluid {
  margin: auto;
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.signup-page .signup-body .signup-heading {
  margin-bottom: 170px;
}

.signup-page .signup-body .signup-heading .media {
  margin-top: 50px;
}

.signup-page .signup-body .signup-heading .media img {
  height: 135px;
  width: 135px;
}

.signup-page .signup-body .signup-heading .media .media-body p {
  font-size: 13px;
  text-align: justify;
}

.signup-page .signup-body .signup-heading .media p:last-child {
  margin-top: 30px;
}

.signup-page .signup-body .signup-footer {
  overflow: auto;
  margin-left: 0px;
}

.signup-page .signup-body .signup-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-size: 13px;
}

.signup-page .signup-body .signup-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.signup-registration label {
  color: var(--primary-color);
  font-size: 13px;
}

.signup-registration input {
  font-size: 13px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
  color: var(--primary-color);
}

.signup-registration input::placeholder {
  color: var(--primary-color);
}

.signup-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.signup-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.signup-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.signup-registration small p {
  color: red;
}

.signup-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.signup-registration .form-group {
  margin-bottom: 0px;
}

.signup-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.signup-registration .signup-ag {
  margin-top: 10px;
  color: var(--primary-color);
}

.signup-registration .signup-ag a {
  font-weight: 500;
  font-size: 14px;
}

/*  Change Number */

.page-body .page .cp-image-1 {
  position: absolute;
  margin: 0 auto;
  left: -30px;
  top: 480px;
}

.page-body .page .cp-image-2 {
  position: absolute;
  margin: 0 auto;
  left: 1320px;
  top: 180px;
}

.page-body .page .cp-image-2 img {
  height: 350px;
  width: 350px;
}

.page-body .page .cp-image-1 img {
  height: 350px;
  width: 350px;
}

.cp-page .container-fluid {
  margin: auto;
  box-shadow: 2px 2px rgba(55, 9, 116, 0.26);
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.cp-page .cp-body .cp-footer {
  overflow: auto;
  margin-left: 0px;
  margin-top: 380px;
}

.cp-page .cp-body .cp-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-size: 13px;
}

.cp-page .cp-body .cp-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.cp-page .cp-registration label {
  color: var(--primary-color);
  font-size: 13px;
}

.cp-page .cp-registration input {
  font-size: 13px;
  border: 1px solid var(--primary-color);
  height: 50px;
  border-radius: 6px;
}

.cp-page .cp-registration input::placeholder {
  color: var(--primary-color);
}

.cp-page .cp-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.cp-page .cp-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.cp-page .cp-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.cp-page .cp-registration small p {
  /*  font-size: 14px;*/

  color: var(--primary-color);
}

.cp-page .cp-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.cp-page .cp-registration .form-group {
  margin-bottom: 0px;
}

.cp-page .cp-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

/*  Verify Number*/
.page-body .page .vn-image-1 {
  position: absolute;
  margin: 0 auto;
  left: 80px;
  top: 250px;
}

.page-body .page .vn-image-2 {
  position: absolute;
  margin: 0 auto;
  left: 1200px;
  top: 310px;
}

.page-body .page .vn-image-1 img {
  height: 450px;
  width: 450px;
}

.page-body .page .vn-image-2 img {
  height: 300px;
  width: 300px;
}

.vn-page .container-fluid {
  margin: auto;
  box-shadow: 2px 2px rgba(55, 9, 116, 0.26);
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.vn-page .vn-body .vn-footer {
  overflow: auto;
  margin-left: 0px;
  margin-top: 380px;
}

.vn-page .vn-body .vn-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-family: "Roboto Monospace", monospace;
}

.vn-page .vn-body .vn-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.vn-page .vn-registration label {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.vn-page .vn-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.vn-page .vn-registration input::placeholder {
  color: var(--primary-color);
}

.vn-page .vn-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.vn-page .vn-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.vn-page .vn-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.vn-page .vn-registration small p {
  font-size: 14px;

  color: var(--primary-color);
}

.vn-page .vn-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.vn-page .vn-registration .form-group {
  margin-bottom: 0px;
}

.vn-page .vn-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

/* Accounts  */

.page-body .page .account-image-1 {
  position: absolute;
  margin: 0 auto;
  left: 170px;
  top: 650px;
}

.page-body .page .account-image-2 {
  position: absolute;
  margin: 0 auto;
  left: 100px;
  top: 400px;
}

.page-body .page .account-image-3 {
  position: absolute;
  margin: 0 auto;
  left: 570px;
  top: 145px;
}

.page-body .page .account-image-1 img {
  height: 300px;
  width: 300px;
}

.page-body .page .account-image-2 img {
  height: 200px;
  width: 200px;
}

.page-body .page .account-image-3 img {
  height: 120px;
  width: 120px;
}

.accounts-page .container-fluid {
  margin: auto;
  box-shadow: 2px 2px rgba(55, 9, 116, 0.26);
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.accounts-page .accounts-body .accounts-heading {
  margin-bottom: 170px;
}

.accounts-page .accounts-body .accounts-heading #verified {
  background-color: red;
  padding: 3px 5px 3px 5px;
  width: 80px;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 30px;
}

.accounts-page .accounts-body .accounts-heading #unverified {
  background-color: #41b661;
  padding: 3px 5px 3px 5px;
  width: 90px;
  color: #ffffff;
  border-radius: 20px;
  margin-left: 0px;
}

.accounts-page .accounts-body .accounts-heading #verified,
#unverified {
  text-transform: lowercase;
  font-size: 0.7em;
}

.accounts-page .accounts-body .accounts-content {
  margin-top: 20px;
}

.accounts-page .accounts-body .accounts-content p {
  text-align: justify;
  font-size: 13px;
}

.accounts-page .accounts-body .accounts-footer {
  overflow: auto;
  margin-left: 0px;
}

.accounts-page .accounts-body .accounts-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-size: 13px;
}

.accounts-page .accounts-body .accounts-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.accounts-page .accounts-registration img {
  margin-top: 5px;
  height: 60px;
  width: 60px;
}

.accounts-page .accounts-registration .form-group {
  margin-bottom: 50px;
}

.accounts-page .accounts-registration .form-group .col-10 {
  padding-left: 15px;
}

.accounts-page .accounts-registration .accounts-button {
  margin-top: 10px;
}

.accounts-page .accounts-registration .accounts-button .btn-normal {
  background: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 10px 60px -40px rgba(0, 0, 0, 0.15);
  font-size: 0.8em;
  transition: 0.5s;
}

.accounts-page .accounts-registration .accounts-button .btn-normal:hover {
  background: var(--primary-color);
  color: #ffffff;
  border: 1px solid var(--primary-color);
  box-shadow: 0 10px 60px -40px rgba(0, 0, 0, 0.15);
  font-size: 0.8em;
}

.accounts-page .accounts-registration .accounts-button .btn-verified {
  background: #41b661;
  color: #ffffff;
  border-radius: 50px;
  padding: 3px 15px 3px 15px;
  font-size: 0.7em;
  margin-left: 20px;
}

.accounts-page .accounts-registration label {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.2em;
}

.accounts-page .accounts-registration .label-small {
  font-size: 0.8em;
}

.accounts-page .accounts-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.accounts-page .accounts-registration input::placeholder {
  color: var(--primary-color);
}

.accounts-page .accounts-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.accounts-page .accounts-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.accounts-page .accounts-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.accounts-page .accounts-registration small p {
  font-size: 14px;

  color: var(--primary-color);
}

.accounts-page .accounts-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.accounts-page .accounts-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

/* Payment */
.page-body .page .payment-image-1 {
  position: absolute;
  margin: 0 auto;
  left: 80px;
  top: 250px;
}

.page-body .page .payment-image-2 {
  position: absolute;
  margin: 0 auto;
  left: 1250px;
  top: 380px;
}

.page-body .page .payment-image-1 img {
  height: 450px;
  width: 450px;
}

.page-body .page .payment-image-2 img {
  height: 250px;
  width: 250px;
}

.payment-page .container-fluid {
  margin: auto;
  border-radius: 10px;
  /* height: auto; */
  background-color: #ffffff;
}

.payment-page .payment-body .payment-footer {
  overflow: auto;
  margin-left: 0px;
  margin-top: 380px;
}

.payment-page .payment-body .payment-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-size: 13px;
}

.payment-page .payment-body .payment-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.payment-page .payment-registration label {
  color: var(--primary-color);
  font-size: 13px;
}

.payment-page .payment-registration input {
  font-size: 14px;
  border: 1px solid var(--primary-color);
  height: 50px;
  border-radius: 6px;
  font-size: 14px;
}

.payment-page .payment-registration input::placeholder {
  color: var(--primary-color);
  font-size: 14px;
}

.payment-page .payment-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.payment-page .payment-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.payment-page .payment-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.payment-page .payment-registration small p {
  font-size: 14px;

  color: var(--primary-color);
}

.payment-page .payment-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.payment-page .payment-registration .form-group {
  margin-bottom: 0px;
}

.payment-page .payment-registration .upload-drop-zone {
  background-color: #cccccc;
  border: 1px solid var(--primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.payment-page .payment-registration .payment-submit {
  margin-top: 200px;
}

/* Upload  */
.page-body .page .upload-image-1 {
  position: absolute;
  margin: 0 auto;
  left: 80px;
  top: 350px;
}

.page-body .page .upload-image-2 {
  position: absolute;
  margin: 0 auto;
  left: 1150px;
  top: 100px;
}

.page-body .page .upload-image-1 img {
  height: 450px;
  width: 450px;
}

.page-body .page .upload-image-2 img {
  height: 300px;
  width: 300px;
}

.upload-page .container-fluid {
  margin: auto;
  box-shadow: 2px 2px rgba(55, 9, 116, 0.26);
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.upload-page .upload-body h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: 500;
}

.upload-page .upload-body .upload-heading {
  margin-bottom: 170px;
}

.upload-page .upload-body .upload-heading p {
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}

.upload-page .upload-body .upload-heading li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 14px;
  list-style: circle;
}

.upload-page .upload-body .upload-footer {
  overflow: auto;
  margin-left: 0px;
}

.upload-page .upload-body .upload-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-size: 14px;
}

.upload-page .upload-body .upload-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.upload-registration {
  padding: 50px 30px 50px 30px !important;
}

.upload-registration label {
  color: var(--primary-color);
  font-size: 13px !important;
}

.upload-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.upload-registration .form-check-input {
  height: 100%;
  top: -15px;
}

.upload-registration input::placeholder {
  color: var(--primary-color);
}

.upload-registration small p {
  font-size: 14px;

  color: var(--primary-color);
}

.upload-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.upload-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.upload-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.upload-registration textarea::placeholder {
  font-size: 0.85em;
  color: var(--primary-color);
}

.upload-registration .custom-file {
  width: 100%;
  height: 100px;
  padding: 0px;
  border: 1px solid var(--primary-color);
  position: relative;
}

.upload-registration .custom-file .custom-file-input {
  height: 100px;
}

.upload-registration .custom-file img {
  width: 120px;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 17px;
}

.upload-registration .custom-file .btn {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0px 35px;
  height: 35px;
  color: #ffffff;
  font-size: 0.81em;
  text-transform: uppercase;
  position: absolute;
  left: 365px;
  top: 33px;
}

.upload-registration .custom-file .custom-file-label {
  font-size: 0.85em;
  background-color: #ffffff00;
  border: 0px;
  text-transform: none;
  font-weight: 300;
  padding: 0px;
  margin: 40px 0 0 150px;
  height: auto;
  width: auto;
  /* position: absolute; */
}

label,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.upload-registration .custom-file .custom-file-label::after {
  content: none;
}

.upload-registration .upload-tags {
  border: 1px solid var(--primary-color);
  width: 100%;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 0px;
}

.upload-registration .upload-check {
  padding-right: 50px;
}

.upload-registration .upload-check .custom-control:first-child {
  margin-bottom: 10px;
}

.upload-registration .upload-check .custom-control label {
  font-weight: 300;

  font-size: 0.9em;
}

/* Checkout Page */
.page-body-2 {
  margin-top: -100px;
}

.checkout-page {
  margin-left: -30px !important;
  margin-right: -15px;
}

.checkout-page h4 {
  color: #707070;
  font-size: 2em;
  margin-top: 50px;
}

.checkout-page .row {
  margin-left: 0px;
}

.checkout-page .billing-address {
  border: 1px solid var(--primary-color) 9d;
  padding: 50px;
}

.checkout-page .billing-address label {
  font-family: "Roboto", serif;
  font-weight: 300;
  text-transform: uppercase;
}

.checkout-page .billing-address input,
.checkout-page .billing-address textarea {
  font-weight: 300;
  color: var(--primary-color);
  height: 50px;
  border: 1px solid var(--primary-color);
}

.checkout-page .billing-address .form-text p {
  color: var(--primary-color);
}

.checkout-page .billing-address input::placeholder {
  color: var(--primary-color);
}

.checkout-page .billing-address select {
  height: 50px;
  border: 1px solid var(--primary-color);
}

.checkout-page .billing-address select,
option {
  color: var(--primary-color);
}

.checkout-page .payment-details {
  border: 1px solid var(--primary-color);
  padding: 50px;
}

.checkout-page .payment-details label {
  color: var(--primary-color);
  font-family: "Roboto", san-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.checkout-page .payment-details input {
  color: var(--primary-color);

  font-weight: 300;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--primary-color);
  height: 50px;
  border-radius: 0px;
  margin-bottom: 50px;
}

.checkout-page .checkout-cart {
  border: 1px solid #cccccc;
  padding: 50px;
}

.checkout-page .checkout-cart hr {
  border: 1px solid var(--primary-color);
  border-style: dashed;
}

.checkout-page .checkout-cart .cart-total {
  color: #707070;
  font-weight: 600;
}

.checkout-page .checkout-cart .cart-total:last-child {
  float: right;
}

.checkout-page .checkout-cart .cart-pay {
  margin-top: 0px;
}

.checkout-page .checkout-cart .cart-pay button {
  margin-top: 20px;
  background-color: var(--primary-color);
  color: #ffffff;
}

.checkout-page .checkout-cart .form-group {
  margin-bottom: 0px;
}

/* Cart */
.checkout-page .cart .card {
  border: 1px solid #cccccc;
  border-radius: 0px;
  margin-right: 100px;
  margin-top: 50px;
}

.checkout-page .cart .card .card-body {
  position: absolute;
  margin-left: 180px;
}

.checkout-page .cart .card .card-img-top {
  height: 200px;
  width: 200px;
  float: left;
  padding: 15px;
}

.checkout-page .cart .card .card-body {
  color: #707070;
  font-family: "Montserrat", sans-serif;
}

.checkout-page .cart .card .card-body h5 {
  font-size: 1.7em;
}

.checkout-page .cart .card .card-body p {
  font-size: 1.35em;
}

.checkout-page .cart .card .card-body a {
  font-weight: 600;
}

/*  Dashboard */

.dashboard {
  background-color: #f7f7fa;
}

.dashboard-info {
  background-color: var(--primary-color);
  color: #fff;
}

.dashboard-info a {
  color: #fff;
}

.dashboard-explore .dashboard-card .card {
  border: 1px solid var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
}

.dashboard-explore .dashboard-card .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dashboard-explore .dashboard-card .card .card-body {
  position: absolute;
  width: 100%;
  background-color: #00000041;
  color: #ffffff;
  bottom: 0px;
  padding: 10px;
  /* padding-top: 8px; */
  text-align: center;
}

.dashboard-explore .dashboard-card .card .card-body p {
  float: left;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.dashboard-explore .dashboard-card .card .card-body p:last-of-type {
  float: right;
}

.dashboard-explore .dashboard-card .card .card-body span {
  margin-left: 10px;
}

/*  Profile Update */

.profile-page .container-fluid {
  margin: auto;
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
}

.profile-page .profile-body .profile-heading {
  margin-bottom: 170px;
}

.profile-page .profile-body .profile-heading #verified {
  background-color: red;
  padding: 3px 5px 3px 5px;
  width: 80px;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 30px;
}

.profile-page .profile-body .profile-heading #unverified {
  background-color: #41b661;
  padding: 3px 5px 3px 5px;
  width: 90px;
  color: #ffffff;
  border-radius: 20px;
  margin-left: 0px;
}

.profile-page .profile-body .profile-heading #verified,
#unverified {
  text-transform: lowercase;
  font-size: 0.7em;
}

.profile-page .profile-body .profile-content {
  margin-top: 50px;
  margin-bottom: 100px;
}

.profile-page .profile-content p {
  text-align: left;
  font-size: 14px;
}

.profile-page .profile-body .profile-footer {
  overflow: auto;
  margin-left: 0px;
}

.profile-page .profile-body .profile-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;
  font-size: 13px;
}

.profile-page .profile-body .profile-footer ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.profile-registration label {
  color: var(--primary-color);
  font-size: 13px;
}

.profile-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.profile-registration input::placeholder {
  color: var(--primary-color);
  font-size: 13px;
}

.profile-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--primary-color);
  height: 50px;
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.profile-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.profile-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.profile-registration small p {
  font-size: 13px;

  color: var(--primary-color);
}

.profile-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.profile-registration .form-group {
  margin-bottom: 0px;
}

/* .profile-registration .upload-drop-zone {
background-color: #cccccc;
border: 1px solid var(--primary-color);
line-height: 100px;
text-align: center;
border-radius: 5px;
width: 100%;
} */

.profile-registration .custom-file {
  width: 100%;
  height: 100px;
  padding: 0px;
  border: 1px solid var(--primary-color) 80;
  position: relative;
}

.profile-registration .custom-file .custom-file-input {
  height: 100px;
}

.profile-registration .custom-file img {
  width: 120px;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 17px;
}

.profile-registration .custom-file .btn {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0px 35px;
  /* margin-left: 30px; */
  height: 35px;
  color: #ffffff;
  font-size: 0.81em;
  text-transform: uppercase;
  position: absolute;
  left: 320px;
  top: 30px;
}

.profile-registration .custom-file .custom-file-label {
  font-size: 0.75em;
  background-color: #ffffff00;
  border: 0px;
  text-transform: none;
  font-weight: 300;
  padding: 0px;
  margin: 40px 0 0 130px;
  height: auto;
  width: auto;
  /* position: absolute; */
}

label,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.profile-registration .custom-file .custom-file-label::after {
  content: none;
}

/*  Password Reset */

.pr-page .container-fluid {
  margin: auto;
  box-shadow: 2px 2px rgba(55, 9, 116, 0.26);
  border-radius: 10px;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 70px;
}

.pr-page .pr-heading {
  margin-left: 20px;
}

.pr-page .pr-body .pr-heading {
  margin-bottom: 200px;
}

.pr-page .pr-body .pr-heading button {
  font-size: 1em;
}

.pr-page .pr-body .pr-heading img {
  height: 200px;
  width: 200px;
}

.pr-page .pr-body .pr-heading li {
  list-style: circle;
  padding: 10px;
}

.pr-page .pr-body .pr-footer,
ul {
  /* border: 1px solid blue; */
  padding-left: 20px;
}

.pr-page .pr-body .pr-footer {
  overflow: auto;
  margin-left: 0px;
}

.pr-page .pr-body .pr-footer li {
  float: left;
  margin-right: 70px;
  list-style: circle;

  margin-bottom: 50px;
  margin-top: 50px;
}

.pr-page .pr-registration label {
  color: var(--primary-color);
  font-size: 13px;
}

.pr-page .pr-registration input {
  font-size: 14px;
  border: 1px solid rgba(55, 9, 116, 0.5);
  height: 50px;
  border-radius: 6px;
}

.pr-page .pr-registration input::placeholder {
  color: var(--primary-color);
}

.pr-page .pr-registration select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--primary-color);
}

.pr-page .pr-registration textarea {
  border: 1px solid rgba(55, 9, 116, 0.5);
}

.pr-page .pr-registration .fa-eye-slash,
.fa-angle-down {
  color: var(--primary-color);
}

.pr-page .pr-registration small p {
  font-size: 14px;
  color: var(--primary-color);
}

.pr-page .pr-registration small span {
  color: #41b661;
  font-weight: bold;
  font-size: 14px;
}

.pr-page .pr-registration .form-group {
  margin-bottom: 0px;
}

.pr-page .pr-registration .btn {
  margin-bottom: 140px;
}

/* Mobile Respionsiveness */
@media (max-width: 576px) {
  /* Generic */
  html {
    overflow-y: auto;
  }

  body {
    overflow-y: hidden;
  }

  .input-names .col-md-6:last-of-type {
    margin-top: 24px;
  }

  .custom-file .upload-drop-zone img {
    width: 60px;
    height: 31.5px;
    top: 20px;
    left: 0px;
  }

  .custom-file .custom-file-label {
    top: 5px;
    left: -60px;
    font-size: 0.5em;
  }

  .custom-file .upload-drop-zone .btn {
    top: 38px;
    height: 30px;
    left: 240px;
    padding: 7px;
    font-size: 0.6em;
  }

  /* Page and Navbar Settings */
  .page {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page #page-border {
    padding-top: 30px;
    border: none;
    border-bottom: 0px;
  }

  .page #page-border-2 {
    border: 0px;
    border-bottom-left-radius: 0px;
    padding: 20px 20px 20px 20px;
  }

  .page #page-border-3 {
    border: 0px;
    padding: 30px 10px 80px 10px;
  }

  .page .page-sub-title h4 {
    margin-top: 30px;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
  }

  .navbar .navbar-brand {
    margin-left: 0px;
  }

  .navbar-nav .nav-item {
    margin: 0px 0px;
  }

  .navbar-nav .nav-item .nav-button {
    text-align: left;
  }

  /* Sign Up Page */
  .signup-page .signup-body {
    margin-top: 200px;
  }

  .signup-page .signup-body h4,
  .signup-page .signup-body .signup-heading .media,
  .signup-page .signup-body .signup-heading .media .img,
  .signup-page .signup-body .signup-heading .media .media-body {
    visibility: hidden;
  }

  .signup-page .signup-body .signup-footer li {
    margin-right: 35px;
    font-size: 0.8em;
    padding-left: 0px;
  }

  .signup-page .signup-registration {
    position: absolute;
    padding-right: 40px !important;
  }

  /* Verify Number */

  .vn-page .vn-body h4,
  .vn-page .vn-body .vn-heading .media,
  .vn-page .vn-body .vn-heading {
    visibility: hidden;
  }

  .vn-page .vn-body {
    margin-top: 250px;
  }

  .vn-page .vn-body .vn-footer li {
    margin-right: 30px;
    font-size: 0.8em;
  }

  .vn-page .vn-registration {
    position: absolute;
    border: 0px !important;
    padding-right: 40px !important;
  }

  /* Upload Page */

  .upload-page .upload-body h4,
  .upload-page .upload-body .upload-heading .media,
  .upload-page .upload-body .upload-heading {
    visibility: hidden;
  }

  .upload-page .upload-body {
    margin-top: 700px;
  }

  .upload-page .upload-registration {
    position: absolute;
    padding-right: 40px !important;
    padding-left: 10px !important;
  }
  .upload-page .upload-body .upload-footer li {
    margin-right: 40px;
    font-size: 0.8em;
    font-size: 13px;
  }

  .upload-registration .custom-file .upload-drop-zone .btn {
    left: 230px;
    padding: 5px 10px;
  }

  .upload-registration .custom-file .upload-drop-zone img {
    width: 60px;
    height: 31.5px;
    top: 20px;
    left: -5px;
  }

  .upload-registration .custom-file .custom-file-label {
    top: 5px;
    left: -95px;
    font-size: 0.8em;
  }

  .upload-page .upload-body .upload-footer li {
    margin-right: 35px;
    font-size: 0.8em;
  }

  /*  Profile Page */

  .profile-page .profile-body h4,
  .profile-page .profile-body .profile-content,
  .profile-page .profile-body .profile-heading {
    visibility: hidden;
  }

  .profile-page .profile-body {
    margin-top: 1100px;
  }

  /*  Profile Page */
  .profile-page .profile-content p {
    width: 100%;
    text-align: justify;
    font-size: 13px !important;
  }

  .profile-page .profile-body .profile-footer li {
    margin-right: 35px;
    font-size: 0.8em;
    font-size: 13px;
  }

  .profile-page .profile-registration {
    position: absolute;
    padding-right: 40px !important;
  }

  /* Payment */

  .payment-page .payment-body h4,
  .payment-page .payment-body .payment-content,
  .payment-page .payment-body .payment-heading {
    visibility: hidden;
  }

  .payment-page .payment-body {
    margin-top: 300px;
  }

  .payment-registration {
    /*
    position: absolute;
    border: 0px !important;
    padding-right: 40px !important;
    */
  }

  .payment-registration .payment-input label {
    letter-spacing: -0.6px;
  }

  .payment-page .payment-body .payment-footer li {
    margin-right: 35px;
    font-size: 0.8em;
  }

  /*  Password Reset*/
  .pr-page .pr-body {
    height: 200px;
    visibility: hidden;
  }

  .pr-page .pr-registration {
    margin-bottom: 30px;
  }

  /* Accounts */

  .accounts-page .accounts-body h4,
  .accounts-page .accounts-body .accounts-heading .media,
  .accounts-page .accounts-body .accounts-heading {
    visibility: hidden;
  }

  .accounts-page .accounts-body {
    margin-top: 250px;
  }
  .accounts-page .accounts-registration {
    position: absolute;
    padding-right: 35px !important;
  }
  .accounts-page .accounts-registration img {
    margin-top: 5px;
    height: 50px;
    width: 50px;
  }

  .accounts-page .accounts-body .accounts-footer li {
    margin-right: 30px;
    font-size: 0.8em;
  }

  /* Verify  */
  .verify-page .verify-body h4,
  .verify-page .verify-body .verify-heading .media,
  .verify-page .verify-body .verify-heading {
    visibility: hidden;
  }

  .verify-page .verify-registration {
    position: absolute;
    padding-right: 40px !important;
  }

  .verify-page .verify-body {
    margin-top: 1400px;
  }

  .verify-page .verify-body .verify-footer li {
    margin-right: 35px;
    font-size: 0.8em;
  }

  .verify-registration .custom-file .custom-file-label {
    top: -1px;
    left: -1px;
    right: -1px;
  }

  /* Login */

  .login-page .login-body h4,
  .login-page .login-body .login-heading,
  .login-page .login-body .login-heading {
    visibility: hidden;
  }

  .login-page .login-body .login-footer {
    margin-left: 0px;
    padding-left: 0px;
  }

  .login-page .login-body .login-footer li {
    margin-right: 30px;
    font-size: 0.8em;
  }

  /*
  .login-page .login-registration {
  position: absolute;
  padding-right: 40px !important;
}
  */

  /* Change Password */
  .cp-page .cp-body h4,
  .cp-page .cp-body .cp-heading,
  .cp-page .cp-body .cp-heading {
    visibility: hidden;
  }

  .cp-page .cp-body {
    margin-top: 350px;
  }

  .cp-page .cp-registration {
    position: absolute;
    padding-right: 40px !important;
  }

  .cp-page .cp-body .cp-footer li {
    margin-right: 35px;
    font-size: 0.8em;
  }
}

.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 0px 8px;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 0px 8px;
}

#verified, #unverified {
  cursor: none;
}
