
smartpixel_dev1/test.py
.idea/workspace.xml
.idea/workspace.xml
/smartpixel_dev1.zip
/smartpixel_dev1/smartpixel_dev1.zip
/.idea/dataSources/a8950978-493d-4210-8bcb-ffb993534153/storage_v2/_src_/schema/
